.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    /* Usar GRID */
    display: grid;
    /* Diseño de columnas y filas */
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px 100px;
    grid-auto-flow: column;
    /* Espacio entre filas
        row-gap: 15px;
    Espacio entre columnas
        column-gap: 30px; */
    /* Espacio para filas y columnas */
    gap: 20px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}